<form action="/bog" method="post">
    <input type="text" name="bog[name]">
    <input type="text" name="bog[description]">
     <%= token_tag form_authenticity_token %>

    <button> Save Bog </button>
</form>